html, body {
    margin: 0;
    padding: 0;
}

body{
    color: #222;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.content {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 5.5em;
    box-sizing: border-box;
}

.footer{
    text-align: center;
    background-color: #ccc;
    padding: 3em 0;
}