.g-logo{
    height: 3em;
    line-height: 3em;
    display: block;
    font-size: 1.6em;
    text-align: center;
    background-color: #555;
    color:#fefefe;
    border-bottom: 1px solid #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.g-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.g-nav:before,.g-nav:after{
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.g-nav:after{
    clear: both;
}

.g-nav > li{
    float: left;
    margin: 0;
    padding: 0;
    width: 33.33333%;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    font-size: 1.4em;
    color: #333;
    box-sizing: border-box;
    background-color: #fefefe;
    border-bottom: 1px solid #333;
}

.g-nav > li.active,.g-nav > li:active{
    background-color: #333;
    color: #fefefe;
    border-bottom: 1px solid #333;
}

.g-list{
    margin: 0;
    padding: 0;
}

.g-list > li{
    list-style: none;
    box-sizing: border-box;
    height: 3.5em;
    line-height: 3.5em;
    font-size: 1.4em;
    vertical-align: middle;
    border-bottom: 1px solid #999;
    text-overflow:ellipsis;
    position: relative;
}

.g-list > li.active{

}

.g-list > li > i{
    width: 20%;
    max-width: 6em;
    position: absolute;
    left: 0;
    text-align: center;
}

.g-list > li > i > img{
    height: 2.5em;
    width: 2.5em;
    display: inline-block;
    vertical-align: middle;
}

.g-list > li > a{
    position: absolute;
    right: 0;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
}
