{% extends "base/base.html" %}{% block title %}Home Title{% endblock %}

{% block content %}
    <div class="header">
        <a class="g-logo" href="/about_us">鴿勝 logo</a>
        <ul class="g-nav">
            <li><a href="/">產品介紹</a></li>
            <li><a href="/news">鴿會訊息</a></li>
            <li><a>開拓商機</a></li>
        </ul>
    </div>

    <div class="content">
        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>

        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>

        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>

        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>

        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>

        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>

        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>

        <p>這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，這裏是關於鴿勝的介紹，</p>
    </div>

    <div class="footer">
        這裏氏網站的底部
    </div>
{% endblock %}

{% block js %}{% endblock %}