{% extends "base/base.html" %}{% block title %}Home Title{% endblock %}

{% block content %}
    <div class="header">
        <a class="g-logo" href="/about_us">鴿勝 logo</a>
        <ul class="g-nav">
            <li class="active"><a href="/home">產品介紹</a></li>
            <li><a href="/news">鴿會訊息</a></li>
            <li><a>開拓商機</a></li>
        </ul>
    </div>

    <div class="content">
        <ul class="g-list">
            {% for product in product_list %}
            <li><i><img src="{{ product.icon_url }}"></i><a href="#">{{ product.product_name }}</a></li>
            {% endfor %}
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">鸽赢家GoWinner第三代電子鴿鍾</a></li>
        </ul>
    </div>

    <div class="footer">
        這裏氏網站的底部
    </div>
{% endblock %}

{% block js %}{% endblock %}