{% extends "base/base.html" %}{% block title %}Home Title{% endblock %}

{% block content %}
    <div class="header">
        <a class="g-logo" href="/about_us">鴿勝 logo</a>
        <ul class="g-nav">
            <li><a href="/">產品介紹</a></li>
            <li class="active"><a href="/news">鴿會訊息</a></li>
            <li><a>開拓商機</a></li>
        </ul>
    </div>

    <div class="content">
        <ul class="g-list">
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 1</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 2</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 3</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 4</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 5</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 6</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 7</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 8</a></li>
             <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 9</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 10</a></li>
             <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 11</a></li>
            <li><i><img src="/static/home/images/gezi.jpg"></i><a href="#">這裏是鴿會訊息 12</a></li>

        </ul>
    </div>

    <div class="footer">
        這裏氏網站的底部
    </div>
{% endblock %}

{% block js %}{% endblock %}