<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js">
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}gesheng{% endblock %}</title>
    {% comment %}
    神飞：很多人常常使用initial-scale=1到非响应式网站上，这会让网站以100%宽度渲染而不会自
    动缩放，用户需要手动移动页面或者缩放。最差的是和initial-scale=1同时使用user-scalable=no或maximum-scale=1，
    这将使你的网站不能被缩放——用户不能放大/缩小网页来看到全部的内容。所以，请记住：如果你的网站不是响应式的，
    请不要使用initial-scale或者禁用缩放。
    {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %}通过快捷方式打开时全屏显示{% endcomment %}
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    {% comment %}隐藏状态栏{% endcomment %}
    <meta name="apple-mobile-web-app-status-bar-style" content="blank"/>
    {% comment %}iPhone会将看起来像电话号码的数字添加电话连接，应当关闭{% endcomment %}
    <meta name="format-detection" content="telephone=no"/>

    {% block base_css %}
        <script src="/static/lib/foundation/js/vendor/modernizr.js" type="text/javascript"></script>
        <link href="/static/lib/foundation/css/normalize.css" rel="stylesheet" type="text/css">
        {% comment %}<link href="/static/lib/foundation/css/foundation.css" rel="stylesheet" type="text/css">{% endcomment %}

        <link href="/static/base/base.css" rel="stylesheet" type="text/css">
        <link href="/static/base/layout.css" rel="stylesheet" type="text/css">
        <link href="/static/base/components.css" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
{% block content %} base content {% endblock %}

{% block base_js %}
    <script src="/static/lib/foundation/js/vendor/jquery.js" type="text/javascript"></script>
    <script src="/static/lib/foundation/js/vendor/fastclick.js" type="text/javascript"></script>
    <script src="/static/base/base.js" type="text/javascript"></script>
    {% comment %}<script src="/static/lib/foundation/js/foundation.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).foundation();
    </script>{% endcomment %}
{% endblock %}
{% block js %}{% endblock %}
</body>
</html>